body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    background-image: url('images/g.jpg');
    background-size: cover;
    font-family:'Times New Roman', Times, serif;
}

.container{
    background: #838581;
    opacity: 0.65;
    padding: 1.5em;
    border-radius: 10px;
    width: 80vw;
    margin: 2em;
    max-width: 450px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 3em;
    width: 3em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.search button:hover{
    background: lightgreen;
}

.search input.search-bar{
    border: none;
    outline: none;
    padding: .5em 1em;
    border-radius: 20px;
    background: rgb(222, 225, 226);
    font-family: inherit;
    font-size: 120%;
    width: calc(100%-100px);
}

.search input.search-bar:hover{
    background: rgb(196, 203, 196);
}

.grid-data{
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; */
}

.icon-des{
    display: flex;
    align-items: center;
}
.hum-wind{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


h1.temperature{
    margin: 0;
    margin-bottom: 0.5em;
}

.description{
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}
footer {
    position:fixed;
    bottom: 0px;
    width: 400px;
    text-align: center;
    color: rgb(246, 244, 244);
}
